/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 49, ../sass/main.scss */
.tick_thumb:before, .container:before, .row:before, .tick_thumb:after, .container:after, .row:after {
  content: " ";
  display: table;
}
/* line 54, ../sass/main.scss */
.tick_thumb:after, .container:after, .row:after {
  clear: both;
}

/* line 59, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 65, ../sass/main.scss */
body {
  font-family: Arial;
}

/* line 70, ../sass/main.scss */
.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
/* line 77, ../sass/main.scss */
.header_logo {
  display: block;
  float: left;
  height: 17px;
  min-width: 129px;
  margin-top: 26px;
  text-decoration: none;
  background: url(../img/logo_tickets.png) no-repeat left center;
  background-size: cover;
}
/* line 87, ../sass/main.scss */
.header_sup {
  float: right;
  margin-right: 13px;
}
/* line 90, ../sass/main.scss */
.header_sup__text {
  text-transform: uppercase;
  line-height: 70px;
  margin-right: 10px;
  color: #999;
  font-size: 20px;
  font-weight: 400;
}
/* line 96, ../sass/main.scss */
.header_sup__img {
  position: relative;
  top: 5px;
  width: 125px;
  height: 30px;
}
/* line 103, ../sass/main.scss */
.header_lang-switcher {
  float: right;
}
/* line 105, ../sass/main.scss */
.header_lang-switcher__item {
  line-height: 70px;
  color: #3f3f3f;
  font-size: 9pt;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
}
/* line 110, ../sass/main.scss */
.header_lang-switcher__item.active {
  text-decoration: none;
  color: #ab3496;
}

/* line 118, ../sass/main.scss */
#s2, #s3, #s5 {
  padding: 100px 0;
}

/* line 122, ../sass/main.scss */
#s1 {
  background: #e7e7e7;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

/* line 128, ../sass/main.scss */
.bubble {
  margin-bottom: 0px;
}

/* line 131, ../sass/main.scss */
.intro {
  position: relative;
  width: 60%;
  z-index: 2;
  margin-bottom: 145px;
}
/* line 136, ../sass/main.scss */
.intro_st {
  color: #112a80;
  font-size: 51pt;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 24px;
}
/* line 141, ../sass/main.scss */
.intro_nd {
  color: #112a80;
  font-size: 28pt;
  font-weight: 700;
  line-height: 1.34;
  letter-spacing: 1px;
}

/* line 147, ../sass/main.scss */
.person {
  position: absolute;
  top: -40px;
  right: -155px;
  height: 750px;
  width: 100%;
  background: url(../img/MainImage_1.png) no-repeat center center;
  background-size: cover;
  z-index: 0;
}

/* line 158, ../sass/main.scss */
#s2 {
  background: #fff;
}

/* line 161, ../sass/main.scss */
.offer_text {
  color: #3f3f3f;
  font-size: 16pt;
  font-weight: 400;
  margin-bottom: 90px;
  line-height: 1.4;
  letter-spacing: -.6px;
}

/* line 167, ../sass/main.scss */
.offer_info {
  color: #080266;
  font-size: 11pt;
  font-weight: 400;
  margin-bottom: 37px;
  letter-spacing: -.2px;
}

/* line 173, ../sass/main.scss */
#s3 {
  background: #edeef2;
  overflow: hidden;
}

/* line 177, ../sass/main.scss */
.info_text {
  color: #000;
  font-size: 13pt;
  font-weight: 400;
  margin-bottom: 50px;
}

/* line 181, ../sass/main.scss */
.tick_thumb {
  background: #fff;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 186, ../sass/main.scss */
.tick_thumb .tick_img {
  width: 100%;
}
/* line 189, ../sass/main.scss */
.tick_thumb .tick_cap {
  padding-bottom: 20px;
}
/* line 192, ../sass/main.scss */
.tick_thumb .tick_title {
  margin-top: 26px;
  margin-bottom: 20px;
}
/* line 196, ../sass/main.scss */
.tick_thumb.full {
  box-shadow: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 207, ../sass/main.scss */
.tick_thumb.full .tick_cap {
  width: 100%;
  padding: 10px 0 0 0;
}
/* line 211, ../sass/main.scss */
.tick_thumb.full .tick_title {
  margin: 0 0 30px;
}

/* line 216, ../sass/main.scss */
.tick_title {
  color: #080266;
  font-size: 15pt;
  font-weight: 400;
}

/* line 220, ../sass/main.scss */
#s4 {
  background: #00a3e4;
  padding: 52px 0 110px;
  overflow: hidden;
}
/* line 224, ../sass/main.scss */
#s4 .info_text {
  color: #fff;
  margin-bottom: 40px;
}

/* line 230, ../sass/main.scss */
.jumbotron_text {
  color: #3f3f3f;
  font-size: 12.5pt;
  font-weight: 400;
  line-height: 1.65;
}

/* line 238, ../sass/main.scss */
.round_icons {
  margin-top: 50px;
  margin-bottom: 35px;
}

/* line 242, ../sass/main.scss */
.icon_text {
  color: #080266;
  font-size: 12pt;
  font-weight: 600;
  line-height: 1.75;
  margin-bottom: 65px;
}

/* line 248, ../sass/main.scss */
#s6 {
  background: #edeef2;
  padding-top: 110px;
  padding-bottom: 57px;
}

/* line 253, ../sass/main.scss */
.caption {
  color: #080266;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* line 258, ../sass/main.scss */
.desc_text {
  color: #333;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: -0.75pt;
}

/* line 265, ../sass/main.scss */
.footer {
  position: relative;
  background: #edeef2;
  padding-top: 40px;
  padding-bottom: 30px;
  max-height: 170px;
  border-top: 1px solid #b8b9bc;
}

/* line 273, ../sass/main.scss */
.f_logo {
  display: inline-block;
  width: 175px;
  height: 43px;
  margin-bottom: 22px;
  background: url(../img/UtairLogo.svg) no-repeat center center;
  background-size: cover;
}

/* line 281, ../sass/main.scss */
.copyright {
  color: #333;
  font-size: 10pt;
  font-weight: 400;
}

/* line 287, ../sass/main.scss */
.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 294, ../sass/main.scss */
section {
  clear: both;
}

/* line 297, ../sass/main.scss */
.text-center {
  text-align: center;
}

/* line 300, ../sass/main.scss */
.jumbotron {
  position: relative;
  width: 100%;
  background: #edeef2;
  padding: 100px 0;
}
/* line 305, ../sass/main.scss */
.jumbotron_sky {
  background: url(../img/sky.jpg) no-repeat center center;
  background-size: cover;
  padding: 0;
  max-height: 500px;
  overflow: hidden;
}
/* line 312, ../sass/main.scss */
.jumbotron .plan {
  margin-top: -25px;
}

/* line 316, ../sass/main.scss */
.s_title {
  color: #112a80;
  font-size: 28pt;
  font-weight: 700;
  margin-bottom: 35px;
}
/* line 319, ../sass/main.scss */
.s_title_bd {
  position: relative;
  margin-bottom: 85px;
}
/* line 322, ../sass/main.scss */
.s_title_bd::after {
  content: '';
  position: absolute;
  bottom: -45px;
  left: 50%;
  margin-left: -159px;
  width: 318px;
  height: 1px;
  background: #00a3e4;
}

/* line 334, ../sass/main.scss */
img {
  max-width: 100%;
}

/* line 337, ../sass/main.scss */
.row {
  margin-right: -10px;
  margin-left: -10px;
}

/* line 342, ../sass/main.scss */
.col_1 {
  position: relative;
  width: 100%;
  padding: 0 10px;
  float: left;
}

/* line 348, ../sass/main.scss */
.col_2 {
  position: relative;
  width: 50%;
  padding: 0 10px;
  float: left;
}

/* line 354, ../sass/main.scss */
.col_3 {
  position: relative;
  width: 33.3%;
  padding: 0 5px;
  float: left;
}

/* line 363, ../sass/main.scss */
.swiper-pagination {
  width: 100%;
}
/* line 365, ../sass/main.scss */
.swiper-pagination.one {
  bottom: -65px;
}
/* line 368, ../sass/main.scss */
.swiper-pagination.two {
  bottom: -65px;
}

/* line 373, ../sass/main.scss */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  opacity: 1;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/* line 380, ../sass/main.scss */
.swiper-pagination-bullet-active {
  background: #ac3697;
}

/* line 385, ../sass/main.scss */
.btn {
  color: #00aff0;
  font-size: 13pt;
  font-weight: 600;
  padding: 5.5px 37px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid #00aff0;
  background: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}
/* line 404, ../sass/main.scss */
.btn:hover, .btn:active {
  color: #fff;
  background: #00aff0;
}

/* line 409, ../sass/main.scss */
.mg_50 {
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  /* line 414, ../sass/main.scss */
  .container {
    width: 720px;
  }

  /* line 417, ../sass/main.scss */
  .s_title {
    font-size: 25pt;
  }

  /* line 420, ../sass/main.scss */
  .offer_info {
    margin-bottom: 0;
  }

  /* line 423, ../sass/main.scss */
  .offer_text {
    font-size: 14pt;
  }

  /* line 426, ../sass/main.scss */
  .jumbotron_sky {
    height: 400px;
  }

  /* line 429, ../sass/main.scss */
  .jumbotron .plan {
    margin: 0;
    width: 600px;
  }

  /* line 433, ../sass/main.scss */
  .bubble {
    margin-bottom: 50px;
    width: 270px;
  }

  /* line 437, ../sass/main.scss */
  .intro {
    margin-bottom: 100px;
  }

  /* line 440, ../sass/main.scss */
  .intro_st {
    font-size: 41pt;
  }

  /* line 443, ../sass/main.scss */
  .intro_nd {
    font-size: 20pt;
  }

  /* line 446, ../sass/main.scss */
  .person {
    right: -100px;
    height: 600px;
  }
}
@media (max-width: 767px) {
  /* line 455, ../sass/main.scss */
  .sm_hiden {
    display: none;
  }

  /* line 458, ../sass/main.scss */
  .container {
    max-width: 100%;
  }

  /* line 463, ../sass/main.scss */
  .header_sup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -62.5px;
  }
  /* line 469, ../sass/main.scss */
  .header_sup__text {
    display: none;
  }
  /* line 473, ../sass/main.scss */
  .header_lang-switcher {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 70px;
    width: 90px;
    z-index: 99;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  /* line 482, ../sass/main.scss */
  .header_lang-switcher.open {
    height: 170px;
  }
  /* line 485, ../sass/main.scss */
  .header_lang-switcher__item {
    position: absolute;
    top: 70px;
    line-height: 70px;
    color: #3f3f3f;
    font-size: 12pt;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0px 30px;
    background: #fff;
  }
  /* line 496, ../sass/main.scss */
  .header_lang-switcher__item.active {
    top: 0;
    text-decoration: none;
    color: #ab3496;
    background: #f0f0f0;
  }

  /* line 506, ../sass/main.scss */
  #s1 {
    max-height: 900px;
  }
  /* line 508, ../sass/main.scss */
  #s1 .container {
    padding: 0;
  }

  /* line 512, ../sass/main.scss */
  .intro {
    position: relative;
    width: 100%;
    padding: 60px 50px;
    z-index: 2;
    background: #edeef2;
    margin-top: 400px;
    margin-bottom: 0;
  }
  /* line 520, ../sass/main.scss */
  .intro_st {
    margin-top: 0;
  }

  /* line 524, ../sass/main.scss */
  .bubble {
    display: none;
  }

  /* line 527, ../sass/main.scss */
  .person {
    top: -20px;
    right: 0;
    left: 0;
    height: 470px;
    background-position: -110px center;
  }

  /* line 534, ../sass/main.scss */
  .s_title {
    font-size: 18pt;
  }

  /* line 537, ../sass/main.scss */
  .offer_text {
    padding: 0 20px;
    margin-bottom: 50px;
  }

  /* line 541, ../sass/main.scss */
  .offer_info {
    font-size: 14pt;
    line-height: 1.6;
  }

  /* line 545, ../sass/main.scss */
  #s2 {
    padding: 100px 20px;
  }

  /* line 548, ../sass/main.scss */
  .jumbotron {
    max-height: 350px;
  }
  /* line 550, ../sass/main.scss */
  .jumbotron .plan {
    margin: 0;
    padding: 20px;
    max-height: 350px;
    width: auto;
  }

  /* line 558, ../sass/main.scss */
  #s3 .container {
    padding: 0;
  }

  /* line 562, ../sass/main.scss */
  .jumbotron_text {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  /* line 569, ../sass/main.scss */
  .header_logo {
    height: 13px;
    min-width: 100px;
    margin-top: 30px;
  }
  /* line 574, ../sass/main.scss */
  .header_sup {
    margin-top: -8px;
    margin-left: -55.5px;
  }
  /* line 577, ../sass/main.scss */
  .header_sup__img {
    width: 110px;
    height: 30px;
  }
}
